// Navigation code here
header{
    width:100%;
    background:@nav-bg;
    border-bottom:1px solid @nav-border;
    text-align:center;
    h1{
        .space(15px);
    }
    nav{
        .flex(row,space-between);
        width:400px;
        margin:0px auto 0px;
        a{
            color:@nav-font;
            .space(15px);
        }
    }
}



.intro{
    img{
        border-radius: 5px;
    }
}
// @nav-bg: @wild-sand;
// @nav-font: @river-bend;
// @nav-border: @sea-shell;